#Aboutme{
    margin-top: 10vh;
    text-align: center;
    position: relative;
}

#Aboutme .contents{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Aboutme .contents p{
    width: 60vw;
    text-align: center;
    padding: 5vw;
    font-style: italic;
    font-size: larger;
}

#Aboutme .contents img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

@media (max-width: 600px) {

    #Aboutme{
        margin-top: 10vh;
        text-align: center;
       
    }

    #Aboutme .contents{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #Aboutme .contents p{
        width: 100vw
    }
    
    #Aboutme .contents img{
        width: 20%;
        height: 20%;
        border-radius: 50%;
    }


}