@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Comfortaa', cursive;
    color: white;
    overflow-x: hidden;
    
}
body{
    background-color: black;
    overflow-x: hidden;
    text-align: center;
}

.header{
    height: 3%;
    text-align: center;
}

.player{
    position: sticky;
    background-color: rgba(60, 58, 58, 0.675);
    top:5vh;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.3;
}

h1{
    color: azure;
    font-weight: bolder;
}

p{
    color: aliceblue;
}

/* Hidden navigation for small screens */
.hidden-navbar {
    transform: translateY(-20vh);
}

.navigation--items li a {
    text-decoration: none;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.navigation--items li a:hover {
    background-color: azure;
    color: black;
}

.navigation--container--logo a {
    text-decoration: none;
    color: white;
}

a:active {
    color: aquamarine !important;
}

.mobile-intro{
    display: none;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .header, .player{
        display: none;
    }
    .mobile-intro{
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        justify-content: center;

    }


}