@keyframes obtained{
    0%   { left: -200vw}
    20%  { left: -175vw}
    40%  { left: -150vw}
    50%  { left: -125vw}
    60% { left: -100vw;}
    70% { left: -75vw;}
    80% { left: -50vw;}
    90% { left: -25vw;}
    100% { left: 0vw;}
  }
  
  #certificates-and-obtained-container{
    height: max-content;
    margin-top: 30vh;
}

.obtained--container{
    margin-top: 25vh;
    text-align: center;
    position: sticky;
    top:15vh;
    height: 40vh;
    opacity: 0;
}

.obtained--mover{
    background-color: rgb(36, 36, 36);
    display: flex;
    height: 15vh;
    width: 400vw;
    align-items: center;
    justify-content: space-evenly;
    animation-name: obtained;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

.obtained--mover span img{
    width: 200px;
    height: 10vh;
}

.certificates{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.certificate{
    height: 55vh;
    width: 50vw;
    position: sticky;
    top: 40%;
    margin: auto;
    margin-bottom: 20vh;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.certificate:last-child{
    margin-bottom: 20vh;
}

.certificate a img{
    width: 50vw;
    height: 55vh;
}

@media (max-width: 600px) {

    .obtained--mover span img{
        width: 80px;
        height: 40px;
    }
    .certificate{
        display: block;
        position: relative;
        width: 95vw;
        height: 55vw;
    }
    .certificates{
        display: block;
    }
    .certificate a img{
        width: 95vw;
        height: 45vh;
    }
}